* {
    font-family: sans-serif, Arial;
}

.required {
    color: red;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #adcce6;
}

body > * {
    width: fit-content;
}

header {
    padding-top:1em;
    width: 100vw;
}

header > nav{
    width: inherit;
    display: flex;
}

header > nav > #easy-access{
    display: flex;
    width: 80vw;
}

header > nav > #always-show{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 20vw;
    padding-right: 2em;
    gap: 2em;
}
header > nav > #easy-access > ul{
    display:flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    gap: 2em;
}

header > nav > #always-show > ul{
    display:flex;
    flex-direction: row;
    justify-content: end;
    width: fit-content;
    list-style: none;
}

header > nav > div > ul > li{
    padding: 1em 1em 1em 1em;
    background-color: #6767f4;
}

header > nav > div > ul > li > a {
    text-decoration: none;
    color: black;
}

header > nav > .no-auth > ul > li{
    background-color: grey;
}
/* Auth */

.icon {
    width:80px;
}

section.authenticate {
    display: flex;
    flex-direction: row;
    width: 640px;
    height: 370px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 6px;
    margin-top: 1em;
    padding: 2em;
    background-color: rgb(191, 191, 191);
}

section.authenticate > form, div{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1em;
}

section.authenticate > form > input[type="text"], input[type="password"] {
    width: 15em;
    height: 1.5em;
    border-radius: 6px;
    border: 2.5px solid black
}

section.authenticate > form > input[type="submit"], select {
    width: fit-content;
}

div#auth-message {
    height: fit-content;
}

div#auth-message > h1, p, span, ul {
    margin: 0;
    padding: 0;
}

div#auth-message > ul {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    gap: 0.5em;
}